<!-- <div id="statue">
   <h1 id="home-header-1">
    <%= image_tag("statue-2.png", :size => "60x120") %>HIgHLINE
  </h1>
</div> -->


<div class="slideshow">

  <div class="gallery-container">
    <ul id="slides">
      <li id="leaves" class="slide showing"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
      <li id="tasman" class="slide"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
      <li id="greenhouse" class="slide"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
      <li id="joint" class="slide"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
      <li id="brownie" class="slide"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
      <li id="shatter" class="slide"><div id="statue">
        <h1 id="home-header">
          <%= image_tag("statue-2.png", :size => "60x120", :class => "statue") %>HIgHLINE
        </h1>
      </div></li>
    </ul>
  </div>

  <center><div class="gallery-buttons">
      <button class="controls" id="previous">&lt;</button>
      <button class="controls" id="pause">&#10074;&#10074;</button>
      <button class="controls" id="next">&gt;</button>
  </div></center>

</div>

<script type="text/coffeescript" src="home.js"></script>
