
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Informational Video</title>
  </head>
  <body>

  <div class="video1">
      <h2>The Scientist (2015) Medical Marijuana: Studying For a Higher Purpose
      - Prof. Dr. Raphael Mechoulam</h2>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/fu6FhJIyTEc" frameborder="0" allowfullscreen></iframe>

      <p class="video_blurb">Published on Nov 26, 2015
    “The Scientist” is a documentary that traces the story of Nobel prize nominee Dr. Raphael Mechoulam from his early days as a child of the Holocaust in Bulgaria, through his immigration to Israel, and his career as the chief investigator into the chemistry and biology of the world’s most misunderstood plant. Dr. Mechoulam ascertained that THC interacts with the largest receptor system in the human body, the endocannabinoid system (ECS).
    For further information please visit:
    http://mechoulamthescientist.com/</p>

    <%=link_to "Read More", "/video1", class: "btn" %>

  </div>



  <div class="video2">
    <h2>One Of The Best Marijuana Documentary You Will Ever Watch!</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/uEZPsNZwyfo" frameborder="0" allowfullscreen></iframe>

    <p class="video_blurb">Published on Oct 16, 2016
    One Of The Best Marijuana Documentary You Will Ever Watch! Video
    http://www.hemp.gq/one-of-the-best-ma...

    CC License
    Archive https://archive.org

    Producer "Onderkoffer"
    Best Marijuana Documentary You Will Ever Watch! [ Video] : onderkoffer
    Category
    People and Blogs
    License
    Standard YouTube License
    Music
    "Willie The Weeper" by Grand Dominion Jazz Band Listen ad-free with YouTube Red</p>

    <%=link_to "Read More", "/video2", class: "btn" %>

  </div>


  <div class="video3">
    <h2>Cannabis 101: 5 Basic Cannabis Questions Answered</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h7pg5Vbuj10" frameborder="0" allowfullscreen></iframe>
    <p class="video_blurb">Published on Jun 2, 2015
    https://www.leafly.com/

    In this week's episode of Leafly's Cannabis 101 we answer 5 basic cannabis questions we receive all the time. Watch the video to find some quick answers to questions like...
    1. How will cannabis affect me?
    2. What is the difference between medical and recreational cannabis?
    3. How do I find medical or recreational cannabis?
    4. How long does it take for an edible to kick in?
    5. How do I safely store my cannabis?

    For more information on cannabis strains, news, and information visit https://Leafly.com or download the free mobile app for iOS and Andoid.

    Thanks to our friends at The Novel Tree for the location/background.
    </p>

    <%=link_to "Read More", "/video3", class: "btn" %>

  </div>


  <div class="video4">
    <h2>Medical marijuana in Florida: from seed to sale</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/jYGUarbhY5Y" frameborder="0" allowfullscreen></iframe>

    <p class="video_blurb">Published on Jan 6, 2017
    As questions linger on how Florida will regulate the medical marijuana industry, Katie LaGrone takes you behind-the-scenes and beneath the soil to show you how one company is cultivating legal cannabis.

    The ABC Action News app brings you the latest trusted news and information.

    ABC Action News is Taking Action For You with leading local news coverage, "Certified Most Accurate" weather forecasts, and award-winning I-Team investigations.

    ABC Action News, WFTS, covers local news in Tampa Bay and Florida.
    </p>

    <%=link_to "Read More", "/video4", class: "btn" %>

  </div>


    <div class="video5">
        <h2>Right Strain of Medical Marijuana
        Dr. Rachna Patel: The Medical Marijuana Expert</h2>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/A4-jet2OFcc" frameborder="0" allowfullscreen></iframe>

        <p class="video_blurb">Published on Nov 25, 2016
      What’s the right strain of medical marijuana for my medical condition?

      A lot of times I get asked the question, Hey Dr. Patel, what’s the right strain of medical marijuana for my medical condition? And you know what it's a difficult question for me to answer. The reason is that strains are named pretty arbitrarily.

      What do I mean by this?

      Basically, an OG Kush that you buy from one dispensary may not have the same effect as an OG Kush that you buy from another dispensary.

      It's the same even if you go to buy the OG Kush at the same dispensary. The OG Kush that you buy the second time around may not have the same effect as the OG Kush you bought the first time.

      If you're using marijuana for medical reasons, then what you're aiming for are consistent results.

      To get these consistent results, what you really want to be focusing on are the exact amounts of the chemicals in the marijuana. These are chemicals like THC and CBD, for instance.

      I hope you found that little tidbit of information helpful. As always, if you have questions for me, post them in the comments section below. I’ll be more than happy to answer them in the next video.


      My website: http://www.drrachnapatel.com/
      Blog post: http://www.drrachnapatel.com/strains-...

      DISCLAIMER

      The information in this video and on the website (http://www.drrachnapatel.com) is for educational and informational purposes only. It should not take the place of seeing a physician and should not be used to diagnose or treat a health problem or disease. It also does not establish a physician-patient relationship between you and Dr. Patel. Individual results may vary. The information contained in this video and on the website (http://www.drrachnapatel.com) has not been evaluated by the FDA (Food and Drug Administration).</p>

      <%=link_to "Read More", "/video5", class: "btn" %>

    </div>


</body>
</html>
