
  <div class="container">
    <div class="inner">
      <div class="grid">
        <br>
          <% @products.each do |product| %>
            <!-- displays product title -->
            <br>
              <div class="box grid-item">
                <%= image_tag product.visual.url(:medium) %>
                <strong><%= link_to(product.name, product_path(product)) %></strong>
                <br>
                <!-- displays product content -->
                <%= product.thc_content %>%
                <br>
                <%= product.about %>
                <br>
                <%= product.uses %>
                <br>
                <%= product.effect %>
                <br>

                <%= link_to("Write a review", new_product_review_path(product)) %>
                <br>
                <br>
              </div>
        <% end %>
      </div>
    </div>
  </div>
