<center>
  <div class="container">
    <div class="inner">
      <div class="box">
        <%= image_tag @product.visual.url(:medium) %>
        <br>
        <strong><%= @product.name %></strong>
        <br>
        <!-- displays product content -->
        <%= @product.variety %>
        <br>
        <%= @product.thc_content %>%
        <br>
        <%= @product.about %>
        <br>
        <%= @product.uses %>
        <br>
        <%= @product.effect %>
        <br>
        <%= link_to("Write a review", new_product_review_path(@product)) %>
        <br>
        <div class="review">
          <% @reviews.each do |review| %>
            <%= review.content %>
            <% if session[:user_id] == review.user_id%>
              <%= link_to("Edit", edit_product_review_path(@product, review)) %>
              <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure you want to delete this review?"})%>
            <% end %>
          <% end %>
        </div>

        <br>
        <br>
      </div>
    </div>
  </div>
</center>
